<tr>
	<td class="action"><%= link_to "View", work %> | <%= link_to "Edit", edit_work_path(work) %></td>
	<td><%= work.project %></td>
	<td><%= work.user %></td>
	<td><%= work.workdate %></td>
	<td><%= work.hours %></td>
</tr>
