<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
</head>
<body>
	<h1>Project Updated</h1>
	<p><%= @wproject %> has been updated:
	<br>Owner: <%= @project.owner %>
	<br>Default Rate: <%= @project.default_rate %>
	<br>Slug: <%= @project.slug %>
	<br>Company: <%= @project.company.name %></p>
</body>
</html>
